Package: com.tangkaifu.WeChatBomb
Name: WeChatBomb
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: 唐开福
Author: 唐开福
Section: Tweaks
